body{
    background-color: #c91a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease all;
}

.container { /*main*/
    margin: 20px;
    padding: 15px 20px;
    background-color: lightgray;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(28, 18, 54, 0.33);
    box-shadow: 0px 0px 8px 5px rgba(28, 18, 54, 0.33);
    min-height: 650px; 
    width: 100%;
    border-radius: 20px;
    border: 4px solid gray;
}

.header-btn { /*encabezado main*/
    background-color: none;
    display: flex;
    width: 97%;
    justify-content: space-between;
    align-items: stretch;
}


.logo-title {
    width: 98px , 98px;
}


.logo-title.active{
    display: block;
}

.logo-title.disable {
    display: none;
}


.marco {
    position: relative;
    margin: auto;
    width: 930px;
    height: 510px;
    background-image: url("../Images/portada.png");
    background-size: cover;
    border-radius: 30px;

}

button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 35px 15px 35px 15px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 90% auto;
    font-weight: 500;
    font-size: 14px;
    color: white;
    border-radius: 15px;
    outline: none;
    border: none;
    background: linear-gradient(90deg, rgba(8,11,13,1) 0%, rgba(45,77,168,1) 23%, rgba(158,183,237,1) 100%);

}

button:hover {
    background-position: right center;
    color: #000;
    font: oblique bold 85% cursive;
}


.marco img{
    width: 930px;
    height: 510px;
    border-radius: 30px;
    border: 1px solid gray;
    background-size: cover;
}


/*Footer Section----------------------------------------------*/

footer {
    text-align: center;
    margin-top: 10px;
    position: relative;
}

.student-information {
    text-align: center;
    font-weight: 400px;
    color: darkblue;
    font-size: 17px;
    margin-top: 12px;
}

@media (min-width: 1440px) {


    .container {
        margin: 10px;
        width: 1100px;
        height: 670px;
    }
    
    .container-social {
        position: relative;
    
    }
    
}

@media (min-width: 200px) {
    .buttons {
        flex-direction: row;
    }

    .logo-title {
        width: 110px;
        height: 100px;
    }
    
}

/*----------------------------------------------*/

.proximidad{
    background-image: url("../Images/proximidad.gif");
}

.temperatura{
    background-image: url("../Images/temperatura.gif");
}

.corriente{
    background-image: url("../Images/corriente.gif");
}

.humo{
    background-image: url("../Images/Humo.gif");
}

.gas{
    background-image: url("../Images/Gas.gif");
}

.topologia{
    background-image: url("../Images/Topologia.png");
}
